<form method="POST" action="/newsletter">
  <input type="checkbox" name="fetch_meetups" value="true">Meetups<br>
  <input type="checkbox" name="fetch_events" value="true">Events<br>
  <input type="checkbox" name="fetch_jobs" value="true">Jobs<br>
  GIF Url <br> 
  <input type="text" name="gif_url" value="" placeholder="https://"><br>
  <input type="submit" value="Submit">
</form>
